<div class="page no-padding">
  <cdk-virtual-scroll-viewport itemSize="308px" class="example-viewport" style="width: 100%; height: 100%">
    <div *cdkVirtualFor="let item of displayedComics" style="width: 100%; max-width: 150px">
      <div style="width: 150px; height: 230px; background-color: black; position: relative" *ngIf="!item.fakeEntry">
        <img
          [id]="item.id"
          [ngClass]="item.class"
          [src]="item.thumbnailPath"
          (click)="openDialog(item)"
          loading="lazy"
          [matTooltip]="decodeURIComponent(item?.path)"
          matTooltipShowDelay="500"
        />
        <div
          class="comic-publisher"
          *ngIf="this.displayPublisher"
          style="position: absolute; left: 0; bottom: 0px; right: 0"
        >
          {{ item.publisher }}
        </div>

        <div class="comic-collection" *ngIf="item.collection" style="position: absolute; left: 0; top: 0px; right: 0">
          {{ item.collection }}
        </div>

        <div class="hero-container">
          <div
            [matTooltip]="hero.name"
            matTooltipPosition="after"
            class="hero-circle"
            [style.background-image]="hero.imagePath"
            matTooltipShowDelay="500"
            *ngFor="let hero of item?.heroes"
          >
            {{ classHeroExists(hero) ? '' : '?' }}
          </div>
        </div>

        <div class="download-circle" *ngIf="!item.missing">
          <a href="{{ environment.serverUrl + item.path }}" style="color: white">
            <mat-icon class="icon"> download </mat-icon>
          </a>
        </div>
      </div>

      <div class="comicinfo" style="position: relative" *ngIf="!item.fakeEntry">
        <!-- <div class="heroimage" [ngClass]="calculateClass(item)"></div> -->

        <div fxLayout="row" style="margin-bottom: 3px" fxLayoutGap="5px;">
          <div class="number-circle2" *ngIf="item.number">
            <span class="number">
              {{ item.number }}
            </span>
          </div>
          <div class="number-circle" *ngIf="item.seqNumber !== undefined">
            <span class="number">
              {{ item.seqNumber }}
            </span>
          </div>
        </div>

        <ng-container *ngIf="item.titles?.length > 1">
          <div class="title" *ngFor="let item of item.titles">&#x25cf; {{ item }}</div>
        </ng-container>

        <ng-container *ngIf="item.titles?.length === 1">
          <div class="title">{{ item.titles[0] }}</div>
        </ng-container>
      </div>

      <div style="height: 60px" *ngIf="item.fakeEntry">
        <button mat-flat-button color="warn" (click)="loadMore()" style="margin-top: auto">Load more</button>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
