<div class="shell-shell">
  <aside class="shell-sidenav" [class.closed]="isMobile && !menuOpen">
    <mat-toolbar color="primary">
      <span translate>APP_NAME</span>
      <div class="shell-spacer"></div>
    </mat-toolbar>
    <nav>
      <mat-nav-list>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="closeMenuOnMobile()">
          <span translate>Home</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/publisher" routerLinkActive="active" (click)="closeMenuOnMobile()">
          <span translate>Comics</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/search" routerLinkActive="active" (click)="closeMenuOnMobile()">
          <span translate>Search</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/tools" routerLinkActive="active" (click)="closeMenuOnMobile()">
          <span translate>Tools</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="closeMenuOnMobile()">
          <span translate>About</span>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </nav>
  </aside>

  <section class="shell-main">
    <div class="shell-toolbar">
      <button *ngIf="isMobile" class="menu-button" mat-icon-button (click)="toggleMenu()">
        <mat-icon style="color: white">menu</mat-icon>
      </button>
      <div class="shell-spacer"></div>
      <div style="color: white">
        <button mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <app-language-selector [icon]="true" style="color: white"></app-language-selector>
    </div>
    <div class="shell-content">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
